.brand-button {
    background-color: #10b981 !important;
    border: none !important;
    width: 100%;
    height: 40px;
    margin: 5% 0;
}

.sidebar-content-container {
    margin: 0 !important;
    padding: 0 !important;
}

.brand-text {
    color: #10b981;
}

.blue-text {
    color: #253048;
}

.card {
    box-shadow: 5px 5px 10px gray;
    padding: 5%;
    margin-bottom: 10%;
}

.profile-pic {
    width: 20%;
    box-shadow: 5px 5px 10px gray;
    border-radius: 50%;
    margin-bottom: 5%;
}
