/* Common Button to be used across the app  */
.brand-button {
    background-color: #10b981 !important;
    border: none !important;
    width: 100%;
    height: 40px;
    margin: 5% 0;
}

/* Common text color to be used across the app  */
.brand-text {
    color: #10b981;
}

/* Common text color to be used across the app  */
.blue-text {
    color: #253048;
}

/* Use this to make your bootstrap card look more beautiful */
.card {
    box-shadow: 5px 5px 10px gray;
    padding: 5%;
    margin-bottom: 10%;
}

/* Use this for the profile picture in the profile page of the dashboards */
.profile-pic {
    width: 20%;
    box-shadow: 5px 5px 10px gray;
    border-radius: 50%;
    margin-bottom: 5%;
}

.column {
    padding: 0 !important;
}
