.login-page {
    padding: 10% 10%;
    background-color: #111827;
    font-family: "Abril Fatface", cursive;
}

.login-container {
    padding: 10% 10% !important;
    border: 3px solid white;
    border-radius: 10px;
    background-color: #253048;
}

.login-container h4 {
    display: inline;
    margin-right: 80%;
}

@media (max-width: 760px) {
    .login-container h4 {
        margin-right: 50%;
    }
}

.error {
    color: red;
}

.submit-button {
    margin: 4% 0%;
}
