.chat-container {
    width: 50%;
    margin-left: 25%;
}

.chat {
    background-color: #10b981;
    color: white;
    font-weight: 500;
    padding: 2%;
    margin: 2%;
    border-radius: 5px;
    display: flex;
    gap: 5%;
    place-items: center;
}

@media (max-width: 760px) {
    .chat-container {
        width: 100%;
        margin-left: 2%;
        margin-bottom: 5%;
    }
}
