@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.sidebar{
    background: #111827;
    position: fixed;
}
.sidebar li{
    margin-bottom: 2em;
    text-align:center;
    padding:10px 5px;
}
.sidebar li img{
    width:102px;
    height:102px;
    display:block;
    margin:auto;
    border-radius:50%;
}
.sidebar li:hover {
    background:#253048;
}
.sidebar li a {
    text-decoration:none;
    font-size:30px;
    font-family: 'Roboto', sans-serif;
}
