@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
.sidebar,
.menu {
    background: #111827;
}

.sidebar {
    /* Stick to top */
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    /* Get Scrolling Facility */
    overflow-y: scroll;
    height: 100vh;
}

.barIcon {
    margin-left: 75px;
}

.barIcon:hover {
    cursor: pointer;
    transform: scale(120%);
}

.menu-link-list {
    padding: 0;
}

.sidebar li,
.menu li {
    margin-bottom: 2em;
    text-align: center;
    padding: 10px 5px;
    list-style-type: none;
}

.sidebar li img,
.menu li img {
    width: 102px;
    height: 102px;
    display: block;
    margin: auto;
    border-radius: 50%;
}

.sidebar li:hover,
.menu li:hover {
    background: #253048;
}

.sidebar li a,
.menu li a {
    color: white;
    text-decoration: none !important;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
}
